<html ng-app="app">
   <head>
      <title>TEXTecnologia - Teste Frontend</title>
      <script type="text/javascript" src="bower_components/angular/angular.js"></script>
      <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
      <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
      <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
      <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
      <script type="text/javascript" src="bower_components/angular-messages/angular-messages.js"></script>
      <script type="text/javascript" src="bower_components/angular-ui/build/angular-ui.js"></script>
      <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
      <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
      <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script type="text/javascript" src="bower_components/sweetalert2/dist/sweetalert2.js"></script>

      <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

      <script src="app/app.js"></script>
      <script src="app/config.js"></script>
      <script src="app/controllers/cars.js"></script>
      <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
      <link rel="stylesheet" type="text/css" href="bower_components/angular-ui/build/angular-ui.min.css">
      <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="bower_components/sweetalert2/dist/sweetalert2.min.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet"> 
   </head>
   <body ng-controller="VehiclesCtrl">
   <div class="container text-center">
      <nav class="navbar navbar-default">
        <div class="navbar-header col-md-6">
            <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-tint"></i> FULLSTACK</a>
        </div>
        
        <div id="nav-srch" class="col-md-6">
            <form class="navbar-form text-left" role="search" autocomplete="off">
            <div class="input-group" id="custom-search-input">
               <input type="text" class="form-control" placeholder="BUSCA por um veículo" ng-model="srchterm" id="srchterm" ng-enter="searchVehicles()">
               <md-tooltip class="custom-tooltip" md-direction="botton">
               Para executar uma pesquisa, use: campo@string<br />
               Para mais de um campo, utilize ";" como separador de campos (sem espaços): veiculo@fiat;ano@2017<br />Campos disponíveis: ano, veiculo, marca, cod_fipe, descricao <br />Para limpar a listagem e recarregar, basta apagar os dados do campo de pesquisa.</md-tooltip>
               <span class="input-group-btn">
                  <button class="btn btn-danger" type="button">
                      <span class=" glyphicon glyphicon-search"></span>
                      <md-tooltip md-direction="left">Não é necessário clicar neste ícone, basta usar o "&lt;ENTER&gt;" do teclado</md-tooltip>
                  </button>
              </span>
            </div>
            </form>
         </div>
      </nav>
      <div id="main" class="container text-center col-md-12">
         <div class="row">
            <div class="col-md-6 text-left">VEÍCULO</div>
            <div class="col-md-6 text-right"><a href ng-click="addNewVehicle()"><span class="glyphicon glyphicon-plus-sign"><md-tooltip md-direction="botton">Adicionar veículo</md-tooltip></span></a></div>
         </div>
         <div class="row">
            <div class="col-md-12"><hr></div>
         </div>
         <div class="row">
            <div class="col-md-6 text-left font_075em">Lista de veículos</div>
            <div class="col-md-6 text-left font_075em">Detalhes</div>
         </div>
         <div class="row">
            <div class="col-md-6 text-left">
               <div class="row">
               <table style="width: 100%;">
               <tr ng-repeat="car in vehicles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                  <td>
                  <div id="{{car._id}}" class="row car_list hoverDiv" ng-class="{divActive : activeDiv === car._id}">
                     <div class="col-md-9 text-left car_row">
                        <div class="row car_brandy">{{car.marca | uppercase}}</div>
                        <div class="row car_model">{{car.veiculo}}</div>
                        <div class="row car_year">{{car.ano}}</div>
                     </div>
                     <div class="col-md-2 text-center" style="margin-top: 15px; margin-bottom: 15px;">
                        <div class="row font_075em">&nbsp;</div>
                        <div class="row">
                           <a href ng-click="detailVehicle(car._id);"><span class="glyphicon glyphicon-tag" ng-class="{glyphActive : activeGlyph === car._id}"><md-tooltip md-direction="botton">Exibir detalhes</md-tooltip></span></a>
                        </div>
                        <div class="row font_075em">&nbsp;</div>
                     </div>
                  </div>
                  </td>
               </tr>
               </table>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <div class="col-md-12 text-center">
                     <div uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></div>
                        <!-- <ul class="pagination pagination-sm">
                           <li ng-click="setPage(1)"><a href="#">1</a></li>
                           <li ng-class="prevPageDisabled()"><a href ng-click="prevPage()">&laquo;</a></li>
                           <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                              <a href="#">{{n}}</a>
                           </li>
                           <li ng-class="nextPageDisabled()"><a href ng-click="nextPage()">&raquo;</a></li>
                           <li ng-click="setPage(pageCount())"><a href="#">{{pageCount()}}</a></li>
                        </ul> -->
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 font_075em">
                     <div class="col-md-6 text-left">
                        <ul class="pagination pagination-alt">
                           <li class="disabled"><a href="#">Pág: {{currentPage}}/{{pageCount()}}</a></li>
                        </ul>
                     </div>
                     <div class="col-md-6 text-right">
                        <ul class="list-inline pagination-alt">
                           <li><span class="glyphicon glyphicon-th-list icon_list" title="Quantidade de itens por página"></li>
                           <li>
                              <select id="1" class="pagination-view" 
                                       ng-model="viewBy" 
                                       ng-options="viewBy.name for viewBy in viewByList track by viewBy.id"
                                       ng-change="setItemsPerPage(viewBy.id)"
                                       ng-init="viewBy.id = viewBy.id || '5'" 
                                       >
                              </select>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 text-left">
               <div class="row car_details">
                  <div class="col-md-12">
                     <div class="row">   
                        <div class="col-md-12 car_detail_title" ng-model="vehicle.veiculo">{{vehicle.veiculo}}</div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 text-left car_detail_subtitle">Marca</div>
                        <div class="col-md-4 text-left car_detail_subtitle">Ano</div>
                        <div class="col-md-4 text-left car_detail_subtitle">Cód.&nbsp;FIPE</div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 text-left car_detail_subtitle_data" ng-model="vehicle.marca">{{vehicle.marca | uppercase}}</div>
                        <div class="col-md-4 text-left car_detail_subtitle_data" ng-model="vehicle.ano">{{vehicle.ano}}</div>
                        <div class="col-md-4 text-left car_detail_subtitle_data" ng-model="vehicle.ano">{{vehicle.cod_fipe}}</div>
                     </div>
                     <div class="row">
                        <div class="col-md-12 font_075em" ng-model="vehicle.descricao">
                           {{vehicle.descricao}}
                        </div>
                     </div>
                  </div>
               </div>
            
               <div class="row car_details_hr">
                  <hr>
               </div>

               <div class="row car_details_hr">

                  <div class="row">
                     <div class="col-md-9 text-left">
                       
                        <div class="row">
                           <button type="submit" class="btn btn-lg car_button" ng-click="editVehicle(vehicle._id)">
                              <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;EDITAR
                           </button>
                        </div>
                        
                     </div>
                     <div class="col-md-3 text-center" style="margin: 10px 0px 20px;">
                        
                        <div class="row">
                           <span class="glyphicon glyphicon-tag"></span>
                        </div>
                        
                     </div>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>   
   </div>
   </body>
<style>
body {
   font-family: 'Roboto', sans-serif;
   font-size: 2em;
   font-weight: normal;
}

a {
    color: #364147;
    text-decoration: none;
}

a:link {
   color: #364147;
   text-decoration: none;
}
a:visited {
   color: #364147;
   text-decoration: none;
}
a:hover {
   color: #4C8D74;
   text-decoration: none;
}

a:active {
   color: #4C8D74;
   text-decoration: none;
}

hr {
   border-top: 1px solid #777;
}

.md-tooltip {
   font-size: .65em;
}

.custom-tooltip {
  top: 25px !important;
  height: 95px !important;
  background-color: #777 !important;
  color: white !important;
  border-radius: 5px;
}

.modal-header {
   padding: 10px 0px;
}

.modal-content {
    position: relative;
    background-color: #E2E4E1;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    padding: 0px 20px 20px 20px;
    min-width: 700px;
}

.font_075em {
   font-size: .75em;
}

.car_list {
   background-color: #FFF; 
   margin-top: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   margin-left: 0px;
}

.car_row {
   font-size: .75em;
   margin: 15px;
}

.car_brandy {
   color: #000;
}

.car_model {
   color: #4C8D74;
}

.car_year {
   color: #777;
}

.car_details {
   background-color: #F1F2F0;
   margin-left: 0px; 
   margin-right: 0px;
   margin-top: 10px;
   margin-bottom: 0px;
}

.car_details_hr {
   background-color: #F1F2F0;
   margin-left: 0px; 
   margin-right: 0px;
   margin-top: 0px;
}

.car_detail_title {
   color: #4C8D74;
   margin-top: 10px;
}

.car_detail_subtitle {
   color: #000;
   margin-top: 20px;
   font-size: .75em;
}

.car_detail_subtitle_data {
   color: #777;
   margin-bottom: 20px;
   font-size: .75em;
}

.car_button {
   background-color: #364147;
   color: #FFF; 
   border-radius: 0px;  
   margin-left: 30px;
   margin-bottom: 20px;
   width: 140px;
}

.car_button:hover, .car_button:focus {
    color: #FFF;
    background-color: #4C8D74;
    border-color: #364147; /*set the color you want here*/
}

.navbar .navbar-header,
.navbar-collapse {
    display:inline-block;
    vertical-align: top;
}

.navbar, .navbar-default, .navbar-collapse {
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0px;
}

.navbar-header {
   background-color: #364147;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

#nav-srch {
   background-color: #2A3138;
}

#srchterm {
 min-width: 320px;
 max-width: 500px;
 border: none;
 background-color: #2A3138;
 color: #777;
}

#main {
   padding: 60px 35px;
   background-color: #E2E4E1;
}

#custom-search-input {
     margin:0;
     /*margin-top: 10px;*/
     padding: 0;
 }

 #custom-search-input .search-query {
     padding-right: 3px;
     padding-right: 4px \9;
     padding-left: 3px;
     padding-left: 4px \9;
     /* IE7-8 doesn't have border-radius, so don't indent the padding */

     margin-bottom: 0;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
 }

 #custom-search-input button {
     border: 0;
     background: none;
     /** belows styles are working good */
     padding: 2px 5px;
     margin-top: 2px;
     position: relative;
     left: -28px;
     /* IE7-8 doesn't have border-radius, so don't indent the padding */
     margin-bottom: 0;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     color:#777;
 }

.search-query:focus + button {
     z-index: 3;   
 }

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #FFF;
    cursor: default;
    background-color: #364147;
    border-color: #364147;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #364147;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #ddd;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
   border-radius: 0px;
    /* border-top-right-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-radius: 0px;
    /* border-top-left-radius: 4px; */
    /* border-bottom-left-radius: 4px; */
}
.pagination-alt {
    display: inline-block;
    padding-left: 0;
    margin: 0px;
    border-radius: 0px;
}

.pagination-view {
    display: block;
    width: 100%;
    /* height: 34px; */
    padding: 6px 12px;
    /* font-size: .9em; */
    line-height: 1.42857143;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
   /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.icon_list {
   position: relative;
    /* float: left; */
    padding: 5px 9px 6px 10px;
    margin-left: -1px;
    margin-right: -15px;
    line-height: 1.42857143;
    color: #364147;
    text-decoration: none;
    background-color: #FFF;
    border-radius: 0px;
    border: 1px solid #ccc;
}

.hoverDiv {background: #FFF;}
.hoverDiv:hover {background: #F1F2F0;}
.divActive { background : #F1F2F0;
}
.glyphActive { color : #4C8D74;
}

@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}
</style>
</html>