<!-- car-new.html -->
<div>
	<div class="row" ng-controller="VehiclesCtrl">
		<div class="col-md-12">
			<section id="addVehicleForm" fullscreen="isFullscreen01">
				<div class="modal-header">
					<h2>Novo Veículo</h2>
				</div>
				<div class="modal-body">
					<form name="vehicleForm" role="form" ng-submit="submitForm()" novalidate>
						<div class="row">
							<div class="row">
								<div class="col-md-6 form-group" ng-class="{ 'has-error' : vehicleForm.vehicle.$invalid && !vehicleForm.vehicle.$pristine }">
            						<label class="form-label" ng-show="vehicleForm.vehicle.$invalid">&nbsp;</label>
            						<label class="form-label" ng-show="vehicleForm.vehicle.$valid">Veículo</label>
            						<input type="text" name="vehicle" class="form-inputs" ng-model="edit.vehicle.veiculo" placeholder="Veículo" required>
            						<p ng-show="vehicleForm.vehicle.$invalid && !vehicleForm.vehicle.$pristine" class="help-block">O nome do veículo é obrigatório.</p>
								</div>
								<div class="col-md-6 form-group" ng-class="{ 'has-error' : vehicleForm.brand.$invalid && !vehicleForm.brand.$pristine }">
            						<label class="form-label" ng-show="vehicleForm.brand.$invalid">&nbsp;</label>
            						<label class="form-label" ng-show="vehicleForm.brand.$valid">Marca</label>
            						<input type="text" name="brand" class="form-inputs" ng-model="edit.vehicle.marca" placeholder="Marca" required>
            						<p ng-show="vehicleForm.brand.$invalid && !vehicleForm.brand.$pristine" class="help-block">A marca do veículo é obrigatória.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 form-group">
									<div class="row">
										<div class="col-md-6 form-group" ng-class="{ 'has-error' : vehicleForm.year.$invalid && !vehicleForm.year.$pristine }">
		            						<label class="form-label" ng-show="vehicleForm.year.$invalid">&nbsp;</label>
		            						<label class="form-label" ng-show="vehicleForm.year.$valid">Ano</label>
		            						<input type="text" name="year" class="form-inputs" ng-model="edit.vehicle.ano" placeholder="Ano" required>
		            						<p ng-show="vehicleForm.year.$invalid && !vehicleForm.year.$pristine" class="help-block">O ano do veículo é obrigatório.</p>
										</div>
										<div class="col-md-6 form-group" ng-class="{ 'has-error' : vehicleForm.cod_fipe.$invalid && !vehicleForm.cod_fipe.$pristine }">
		            						<label class="form-label" ng-show="vehicleForm.cod_fipe.$invalid">&nbsp;</label>
		            						<label class="form-label" ng-show="vehicleForm.cod_fipe.$valid">Código FIPE</label>
		            						<input type="text" name="cod_fipe" class="form-inputs" ng-model="edit.vehicle.cod_fipe" placeholder="Código FIPE" required>
		            						<p ng-show="vehicleForm.cod_fipe.$invalid && !vehicleForm.cod_fipe.$pristine" class="help-block">O código do veículo é obrigatório.</p>
										</div>
									</div>
								</div>
								<div class="col-md-6 form-group" ng-class="{ 'has-error' : vehicleForm.sold.$invalid && !vehicleForm.sold.$pristine }">
            						<div class="switchButton" ng-cloak>
									  <md-switch ng-model="edit.vehicle.vendido" aria-label="switchSold">
									  	<label class="form-label">Vendido</label>
									  </md-switch>
									</div>
			                    </div>
							</div>
							<div class="row">
								<div class="col-md-12 form-group" ng-class="{ 'has-error' : vehicleForm.description.$invalid && !vehicleForm.description.$pristine }">
									<label class="form-label" ng-show="vehicleForm.description.$invalid">&nbsp;</label>
            						<label class="form-label" ng-show="vehicleForm.description.$valid">Descrição</label>
            						<textarea name="description" class="form-inputs" ng-model="edit.vehicle.descricao" rows="5" placeholder="Descrição" tyle="overflow:hidden" required></textarea>
            						<p ng-show="vehicleForm.description.$invalid && !vehicleForm.description.$pristine" class="help-block">A descrição do veículo é obrigatória.</p>
								</div>
							</div>
							<div class="row">
							    <div class="col-md-12 text-right">   
							        <div class="row">
							           <button id="btnSave" type="submit" class="btn btn-lg btnSave" ng-click="addVehicle()">
							              <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;ADD
							           </button>
							           <button id="btnCancel" type="cancel" class="btn btn-lg btnCancel" ng-click="closeVehicleForm()">
							              <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;&nbsp;&nbsp;FECHAR
							           </button>
							        </div>
							     </div>
							  </div>
							</div>
							
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>

<!-- Styles of form -->
<style type="text/css">
a {
    color: #364147;
    text-decoration: none;
}

a:link {
   color: #364147;
   text-decoration: none;
}
a:visited {
   color: #364147;
   text-decoration: none;
}
a:hover {
   color: #4C8D74;
   text-decoration: none;
}

a:active {
   color: #4C8D74;
   text-decoration: none;
}

textarea {
	min-height: 150px;
}

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
.uneditable-input:focus {   
  border-color: rgba(77, 143, 117, 0.8); 
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(77, 143, 117, 0.8);
  outline: 0 none;
}

.switchButton {
    padding-left: 0px; 
    padding-top: 25px;
}
md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
    background-color: rgba(77, 143, 117, 0.5);
}

md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
    background-color: rgb(77, 143, 117);
}

md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple {
    color: rgb(277, 143, 117);
}

.form-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    font-weight: 400;
    color: #4C8D74;
    font-size: .75em;
}
.form-inputs {
    display: block;
    width: 100%;
    height: 34px;
    padding: 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #E2E4E1;
    background-image: none;
    border-bottom: 1px solid #818181;
    border-top: none;
    border-left: none;
    border-right: none;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-size: .75em;
}

#btnSave,
#btnCancel {
	display: inline-block;
	vertical-align: top;
}

.btnSave,
.btnCancel {
	background-color: #364147;
	color: #FFF; 
	border-radius: 0px;  
	margin-left: 10px;
	margin-right: 15px;
	margin-bottom: 20px;
	width: 140px;
}

.btnSave:hover,
.btnSave:focus,
.btnCancel:hover, 
.btnCancel:focus {
    color: #FFF;
    background-color: #4C8D74;
    border-color: #364147; /*set the color you want here*/
}

</style>